.g-dialog-container{position:fixed;left:0;top:0;width:100%;height:100%;
background-color:rgba(0,0,0,0.6);
display:flex;
justify-content:center;
align-items:center;
z-index:10000;
}
.g-dialog-container .dialog-window{padding:12px;border-radius:10px;
background-color:rgba(0,0,0,0.8);
-webkit-transition:all .3s ease;
}
.g-dialog-container .dialog-window .dialog-header{
	width:40px;
	height:40px;
	margin:0 auto;
}
.g-dialog-container .dialog-window .dialog-header.ok{
	background:url("./images/icon1.png")no-repeat 0 0;
	background-size:40px;
	
}
.g-dialog-container .dialog-window .dialog-header.warning{
	background:url("./images/icon2.png")no-repeat 0 0;
	background-size:40px;
	
}
.g-dialog-container .dialog-window .dialog-content{
	padding:12px 12px 0;
	color:white;
	font-size:12px;
	line-height:180%;
	text-align:center;
	}
.g-dialog-container .dialog-window .dialog-footer{
	display:flex;
justify-content:center;
align-items:center;
	padding:12px 12px 0;
}
.g-dialog-container .dialog-window .dialog-footer button{
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:rgba(255,255,255,0.8);
	padding:0.8em 1.8em;
	margin:0.3em;
	border:none;
	color:#eee;
	text-shadow:#666 1px 1px 0;
}
.g-dialog-container .dialog-window .dialog-footer button.green{
	background-color:rgba(2,202,202,0.8);
}
.g-dialog-container .dialog-window .dialog-footer button.red{
	background-color:rgba(251,23,50,0.8);
}